<nz-card [nzBordered]="false" nzTitle="{{data.operation}} Employee">
<form nz-form (submit)="submit()" #form="ngForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="First Name!">
      <input nz-input name="firstName" type="text" id="firstName" [(ngModel)]="data.firstName" required/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Last Name!">
      <input nz-input name="lastName" type="text" id="lastName" [(ngModel)]="data.lastName" required/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="salary">Salary</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Salary!">
      <input nz-input name="salary" type="number" id="salary" [(ngModel)]="data.salary" required/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!form.valid">{{data.operation}}</button>
      <button nz-button nzType="primary" class="mx-2" nzDanger mat-dialog-close>Close</button>
    </nz-form-control>
  </nz-form-item>
</form>
</nz-card>
