<div class="container">
  <div class="mt-5">
    <button nz-button nzType="primary" (click)="create()">+ Create</button>
    <hr>
    Show
    <select (ngModelChange)="itemsOnChange($event)" [(ngModel)]="itemsPerPage">
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="500">500</option>
      <option value="10000">All</option>
    </select>
    entries
    <div class="pull-right">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input (ngModelChange)="onSearch($event)" [(ngModel)]="searchValues" type="text" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <table class="table table-striped" style="width: 100%">
      <thead>
      <tr>
        <th style="width: 50px;" (click)="sort('id')">SL
          <i *ngIf="sortColumn === 'id' && dataOrderBy" class="fa fa-long-arrow-up mx-1"></i>
          <i *ngIf="sortColumn === 'id' && !dataOrderBy" class="fa fa-long-arrow-down mx-1"></i>
        </th>
        <th style="width: 200px;" (click)="sort('firstName')">First Name
          <i *ngIf="sortColumn === 'firstName' && dataOrderBy" class="fa fa-long-arrow-up mx-1"></i>
          <i *ngIf="sortColumn === 'firstName' && !dataOrderBy" class="fa fa-long-arrow-down mx-1"></i>
        </th>
        <th style="width: 200px;" (click)="sort('lastName')">Last Name
          <i *ngIf="sortColumn === 'lastName' && dataOrderBy" class="fa fa-long-arrow-up mx-1"></i>
          <i *ngIf="sortColumn === 'lastName' && !dataOrderBy" class="fa fa-long-arrow-down mx-1"></i>
        </th>
        <th style="width: 500px;" (click)="sort('salary')">Salary
          <i *ngIf="sortColumn === 'salary' && dataOrderBy" class="fa fa-long-arrow-up mx-1"></i>
          <i *ngIf="sortColumn === 'salary' && !dataOrderBy" class="fa fa-long-arrow-down mx-1"></i>
        </th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let collection of collections | paginate: {
                        currentPage: pageOffset,
                        itemsPerPage: itemsPerPage,
                        totalItems: totalItems
                        } ; index as i;">
        <td>{{getSL(i+1)}}</td>
        <td>{{collection.firstName}}</td>
        <td>{{collection.lastName}}</td>
        <td>{{collection.salary}}</td>
        <td><i class="fa fa-edit text-info mx-2" (click)="edit(collection)"></i>
          &emsp; | &emsp; <a nz-popconfirm nzPopconfirmTitle="Are you sure delete?" nzPopconfirmPlacement="top"
                             (nzOnConfirm)="confirm(collection.id)"
                             (nzOnCancel)="cancel()" class="fa fa-trash text-danger mx-2"></a></td>
      </tr>
      </tbody>
    </table>
    <nz-empty *ngIf="!collections.length"></nz-empty>
    <p>Total Records: {{totalItems}}</p>
    <pagination-controls class="pull-right" (pageChange)="pageChange($event)"></pagination-controls>
  </div>
</div>

